In [7]:
!python -m pip install xlrd pandas

Requirement already satisfied: xlrd in c:\python310\lib\site-packages (2.0.1)
Requirement already satisfied: pandas in c:\python310\lib\site-packages (1.5.0)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\miroi\appdata\roaming\python\python310\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in c:\python310\lib\site-packages (from pandas) (1.23.3)
Requirement already satisfied: pytz>=2020.1 in c:\python310\lib\site-packages (from pandas) (2022.4)
Requirement already satisfied: six>=1.5 in c:\users\miroi\appdata\roaming\python\python310\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)

In [2]:
import pandas as pd

In [5]:
df = pd.read_excel('../data/hawaii-5-11-22.xls', sheet_name='Complete')

print(df.columns)

numerical = df[['ISLAND', 'VOLCANO', 'STAGE', 'KEA LOA TREND', 'Latitude (Avg)', 'Longitude (Avg)', 'ELEVATION MAX', 'ELEVATION MAX']]

numerical.head()

Index(['CITATIONS', 'TECTONIC SETTING', 'ISLAND', 'LOCATION', 'VOLCANO',
       'STAGE', 'KEA LOA TREND', 'LOCATION COMMENT', 'LATITUDE MIN',
       'LATITUDE MAX',
       ...
       'BaO (%)', 'FeO*/MgO', 'Sr/Y', 'Na2O + K2O', 'Nb/U', 'Unnamed: 189',
       'Zr/Nb', 'Sr/Nb', 'Sm/Yb', 'Sr/Nb.1'],
      dtype='object', length=194)

,ISLAND,VOLCANO,STAGE,KEA LOA TREND,Latitude (Avg),Longitude (Avg),ELEVATION MAX,ELEVATION MAX
0,1.0,1.0,0.0,2.0,19.91,-156.3,-3064,-3064
1,1.0,1.0,0.0,2.0,19.91,-156.3,-3064,-3064
2,1.0,1.0,0.0,2.0,19.91,-156.3,-3002,-3002
3,1.0,1.0,0.0,2.0,19.91,-156.3,-3002,-3002
4,1.0,1.0,0.0,2.0,19.91,-156.3,-2929,-2929